.pages {
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
}
.title {
  padding: 30px 0;
  font-size: 40px;
  letter-spacing: 5px;
  color: white;
  text-align: center;
}
html {
  height: 100%;
  width: 100%;
  user-select: none;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Microsoft YaHei";
}
body header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #42474B;
  color: #ffffff;
  position: fixed;
  z-index: 100;
}
body header span:hover {
  color: #999999;
  cursor: pointer;
}
body .container {
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
body .container .briefing {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #1889c5;
  color: white;
  text-align: left;
  font-size: large;
}
body .container .briefing .myPhoto {
  margin: 50px auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: url("../images/myPhoto.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
body .container .briefing p {
  padding-left: 200px;
  font-size: 15px;
}
body .container .skills {
  display: none;
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
  background-color: #9c58b6;
}
body .container .skills h1 {
  padding: 30px 0;
  font-size: 40px;
  letter-spacing: 5px;
  color: white;
  text-align: center;
}
body .container .skills ul {
  text-align: center;
  list-style: none;
}
body .container .skills ul li:first-of-type {
  background-color: #fff;
  color: #333333;
}
body .container .skills ul li:last-of-type {
  border-bottom: 2px solid #ffffff;
}
body .container .skills ul li:hover {
  background-color: #fff;
  color: #333333;
  cursor: default;
}
body .container .skills ul li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border: 2px solid #ffffff;
  border-bottom: none;
}
body .container .project {
  display: none;
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
  background-color: #22b573;
}
body .container .project h1 {
  padding: 30px 0;
  font-size: 40px;
  letter-spacing: 5px;
  color: white;
  text-align: center;
}
body .container .project h3 {
  text-align: center;
}
body .container .project .item_image {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}
body .container .project p {
  font-size: 15px;
}
body .container .project span {
  font-size: 20px;
}
body .container .project a {
  color: white;
}
body .container .project .bird {
  background: url("../images/bird.jpg") center center no-repeat;
  background-size: cover;
}
body .container .project .beautiful {
  background: url("../images/beautiful.jpg") center center no-repeat;
  background-size: cover;
}
body .container .project .baidu {
  background: url("../images/baidu.jpg") center center no-repeat;
  background-size: cover;
}
body .container .contact {
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
  display: none;
  background-color: #ed6461;
  color: #ffffff;
  text-align: center;
}
body .container .contact p {
  font-size: 30px;
}
body .container .contact h2 {
  padding-top: 200px;
  font-size: 30px;
}
